.mui-div {
    overflow:hidden;
    z-index: -100;
}

.swiper-wrapper {
    padding-left: 5%;
    width:90%;
    border-radius: 8px;
    text-align: left;
    background: rgba(245,243,237,1);
}

.swiper-image-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    transform: translate(-5px, -10%);
    z-index: 9000;
}

@media only screen and (max-width: 600px) {
    .swiper-image-wrapper {
        transform: translate(-5%, -10%);
        width: 60vw;
        height: 60vw;
    }

    .swiper-wrapper {
        padding-top : 65%;
        width: 100%;
    }

    .MuiStepLabel-horizontal > span {
        transform: scale(1);
    }
}
.react-swipeable-view-container > * {
    padding-top: 10%;
    z-index: -100;
}