
.action {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.closeButton {
    position: absolute;
    top: 4px;
    right: 2px;
    background-color: transparent;
}

.closeButton .toggle-bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}


.closeButton .toggle-bar:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 6px;
}

.closeButton:hover .toggle-bar {
    background: rgba(27, 34, 43, 0.7);
}

.closeButton .toggle-bar:last-child {
    margin-bottom: 0px;
}

.closeButton .toggle-bar {
    display: block;
    width: 20px;
    height: 1px;
    background: rgba(255,92,92,1);
    transition: all 0.2s ease-in-out 0s;
    border-radius: 4px;
    margin-bottom: 12px;
}

.spinner {
    animation: spin infinite 5s linear;
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
