.progres {
    flex-grow:1;
    overflow-y : scroll;
    padding-bottom: 150px;
}

.progress_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.projectName {
    display: flex;
}
.headerRight > p {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.headerRight > p > .MuiSvgIcon-root {
    margin-right: 5px !important;
    font-size: 10px;
}

.headerLeft > .MuiSvgIcon-root {
    margin-right: 10px !important;
    font-size: 10px;
}