.card{
    width: 100%;
    background: #fff;
}

.blogPostContainer{
    width: 70%;
}

@media (max-width:1024px) {

}

.blogHeader{
    text-align: left;
}

.postTitle{
    color: #001616;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 0px;
}

.postSubTitle{
    color: #001616;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    padding: 37px 0px 25px 0px;
}

.addTitle{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2em;
    padding: 15px 0px 10px 0px;
    text-align: center;
}

.addSubTitle{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2em;
    padding: 0px 0px 15px 0px;
    text-align: center;
}

.postedBy{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
    color: #6c6c6c;
}

.postImageContainer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.panels {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.leftPanel {
    width: 10%;
}

.rightPanel {
    width: 90%;
}

.widgetWrap {
    padding: 0px;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
}

.widgetButton {
    margin-bottom: 0px;
    width: 100%;
    position: relative;
    text-align: left;
}

.widgetContainer {
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;   
}

.blogContainer {
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .blogContainer {
        width: 60%
    }
}


@media (max-width:1024px) {
    .sidebarContainer {
        display:none;
    }

    .blogPostContainer {
        width:100%;
    }

    .blogContainer {
        width: 70%
    }
}

@media (max-width:768px) {
    .panels {
        flex-direction: column;
    }
    
    .leftPanel {
        width: 100%;
    }
    
    .rightPanel {
        width: 100%;
    }

    .blogContainer {
        width: 90%
    }
    
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1em;
    background-color: #99AFC6;
    padding: 12px 12px 12px 12px;
    border-radius: 4px;
    width: auto;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}

.monthHeading {
    color: #99AFC6;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.8px;
    margin: 0;
    padding: 0;
}
.postImageContainer img{
    display: block;
    width:100%;
}

.subContentImageContainer img{
    display: block;
    width:100%;
}

.buttonContentWrapper {
    text-decoration: inherit;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.buttonContent {
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 11;
    order: 10;
    display: inline-block;
}

.postContent p{
    color: #000707B5;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.8px;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

.sidebarContainer{
    width: 27%;

}

.dexterioPromotion {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    background-image: linear-gradient(#eecda3, #ef629f);
    margin-bottom: 10px;
}

.cardHeader{
    text-align: left;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    color: #001616;
}


.profileImageContainer{
    width: 100%;
    box-sizing: border-box;
}

.profileImageContainer img{
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}

.personalBio{
    font-size: 14px;
    color: #565673;
    font-weight: 300;
}
.recentPosts{
    padding: 20px 0;
}
.recentPost{
    margin-bottom: 5px;
}
.recentPost h3{
    color: #99afc6;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.recentPost span{
    font-size: 10px;
    font-weight: 400;
    color: #6c6c66;
}

.blogMaincontainer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.postImageWrapper{
    border-radius: 10px;
    overflow: hidden;
}

.postImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.blogList {
    width: 70%;
}

@media (max-width:1024px) {
    .blogList {
        width: 100%;
    }
}

.gallaryPost{
    display: flex;
    justify-content: space-between;
}
.sideImageWrapper div{
    width: 100%;
    height: 450px;
}


.sideImageWrapper div:nth-child(1){
    padding-bottom: 2px;
}


.sideImageWrapper div:nth-child(2){
    padding-bottom: 2px;
}

.sideImageWrapper div img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.mainImageWrapper{
    width: 100%;
    height: 450px;
    padding-right: 2px;
}

.mainImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
