.nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav .prev {
  left: -50px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -50px;
}
.nav .next.hide {
  display: none;
}

@media screen and (max-width:425px) {
  .nav .prev {
    left: -10px;
    display: none;
  }
  .nav .next {
    right: -10px;
  }
}