* {
  padding:0;
  font-family: "Open Sans", sans-serif;
}


::selection {
  background-color: rgba(233, 223, 193, 0.7);
  color: #1c2233;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  border: 0 solid;
}

.body{
  overflow-y: auto;
  margin: 0 auto !important; 
	float: none !important;
}

