.ivMMT {
    position: fixed;
    margin: auto;
    inset: 0px;
    z-index: 999;
    transition: all 0.2s ease-in-out 0s;
    will-change: opacity;
    pointer-events: none;
    opacity: 0;
    background-color: rgb(255, 255, 255);
}

.hxpTmi {
    position: relative;
    margin-top: 50px;
    height: calc(100vh - 20px);
    overflow-y: scroll;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.navMobile {
    display: flex;
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    flex-direction: row;
    align-items: center;
}

.dHKbCn {
    margin-left: 10px;
    margin-right: 20px;
    background-color: transparent;
}
.dHKbCn .toggle-bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
}


.dHKbCn .toggle-bar:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    bottom: 6px;
}

.dHKbCn:hover .toggle-bar {
    background: rgba(27, 34, 43, 0.7);
}

.dHKbCn .toggle-bar:last-child {
    margin-bottom: 0px;
}

.dHKbCn .toggle-bar {
    display: block;
    width: 20px;
    height: 1px;
    background: rgb(27, 34, 43);
    transition: all 0.2s ease-in-out 0s;
    border-radius: 4px;
    margin-bottom: 12px;
}

.jRkPHW .toggle-bar:last-child {
    margin-bottom: 0px
;
}
.dAKhBr {
    position: relative;
    text-align: center;
    padding-top: 20px;
    max-width: 75%;
    margin: 0px auto;
}

.jxIcUk {
    position: fixed;
    margin: auto;
    inset: 0px;
    transition: all 0.2s ease-in-out 0s;
    will-change: opacity;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    pointer-events: auto;
    z-index: 100000;
}