.iboecf {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    transition: all 0.2s ease-in-out 0s;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.bJNniz button {
    margin-top: 20px;
}

.gyYQtw {
    position: relative;
}

.eVdiAH .image .estimate {
    box-shadow: rgb(27 34 43 / 10%) 0px 40px 60px 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 360px;
    position: relative;
    z-index: 2;
    padding: 50px 40px 40px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.hQhXEr {
    position: absolute;
    left: calc(32% - 300px);
    bottom: -80px;
    display: block;
    width: 300px;
    height: 300px;
    background: url(../../assets/work-hero-simbol.svg) center center / 300px no-repeat;
    z-index: 1;
}

.bXeJDg {
    position: relative;
}

.bZrjDG {
    position: absolute;
    inset: 0px 0px 0px 32%;
    display: block;
    background-color: #f5f3ed;
    z-index: -9;
}

.ljBSYu {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.itdznI {
    color: rgb(28, 33, 31);
    margin-top: 0rem;
    margin-bottom: 1.875rem;
    font-family: "Poppins", sans-serif;
    font-size: 3.375rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -1.5px;
}

.itdznI > span {
    color: rgba(123,131,97,1);
}

p.text-xl {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.4px;
}

.bJNniz p {
    max-width: 420px;
}

.kaZyOD {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.eVdiAH .image .estimate h4 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 1.33;
    letter-spacing: -0.6px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.eVdiAH .image .estimate .prices {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 70px;
}

.eVdiAH .image .estimate .prices li:not(:last-child) {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.eVdiAH .image .img-wrap img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.eVdiAH .image .estimate .logo {
    text-align: center;
}

.eVdiAH .image .estimate .prices li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.eVdiAH .image .estimate .prices li h5 {
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0px;
}

.eVdiAH .image .estimate .prices li p {
    font-size: 1rem;
    font-weight: 500;
    margin:  0px;
}

p + p {
    margin-top: 0.9375rem;
}

.lbmIxI {
    position: relative;
    padding-top: 12.5rem;
    text-align: center;
}

.hero_img {
    vertical-align: middle;
    border-style: none;
}

.lbmIxI .Container-sc-b4hb0m-0 {
    position: relative;
    padding-bottom: 6.25rem;
}

.kevnBQ .texts p {
    font-weight: 500;
}

.eEytae {
    position: relative;
}

.kKQBVH {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.lbmIxI .Container-sc-b4hb0m-0::after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0px;
    border-bottom: 2px dashed rgb(226, 226, 226);
}

.gRClMq {
    color: rgb(28, 33, 31);
    margin-bottom: 1.25rem;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: -0.1px;
}

.gRClMq > span{
    color: rgba(123,131,97,1);
}
.hsdkmN {
    position: relative;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 235, 222, 0.42)); */
}

.gORjmq {
    position: relative;
    background: rgba(245,243,237,1);
}

.gORjmq:not(:last-child) {
    margin-bottom: 9.375rem;
}

.gORjmq .step-heading {
    margin-bottom: 2.5rem;
}
.gORjmq .step-heading .number {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: left;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 113px;
    color: rgba(123,131,97,1);
}
.gORjmq .step-heading {
    margin-bottom: 5rem;
    max-width: 560px;
    position: relative;
}

.jNfiDm {
    position: relative;
    padding-top: 9.375rem;
}

.dIOrBv {
    position: relative;
}

.grJclU:not(:last-child) {
    margin-bottom: 9.375rem;
}

.grJclU {
    position: relative;
    background: rgba(245,243,237,1);
}

.grJclU .step-heading {
    margin-bottom: 5rem;
    max-width: 560px;
    position: relative;
}

.fA-dNms .row {
    -webkit-box-align: center;
    align-items: center;
}

.grJclU .step-heading .number {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: left;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 113px;
    color: rgba(123,131,97,1);
}

a, button {
    transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s, border 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.ewyUxR {
    display: inline-block;
    border: none;
    padding: 16.5px 33px;
    border-radius: 100px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 1rem;
    min-width: 150px;
    background: rgba(255,92,92,1);
    color: rgb(255, 255, 255);
}

.grJclU .image .estimate {
    box-shadow: rgb(27 34 43 / 10%) 0px 40px 60px 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 360px;
    position: relative;
    z-index: 2;
    padding: 50px 40px 40px;
}

p.lead {
    font-size: 1.125rem;
    line-height: 1.44;
    font-weight: 500;
}

.grJclU .image {
    position: relative;
}

.grJclU .image .img-wrap {
    position: relative;
    z-index: 2;
}

.grJclU .btn-cta {
    margin-top: 2.1875rem;
}

.grJclU .image .estimate h4 {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    line-height: 1.33;
    letter-spacing: -0.6px;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.grJclU .image .estimate .prices {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 70px;
}

.grJclU .image .estimate .prices li:not(:last-child) {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.grJclU .image .estimate .prices li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.grJclU .image .estimate .prices li h5 {
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 500;
}

.grJclU .image .estimate .prices li p {
    font-size: 1rem;
    font-weight: 500;
}

.grJclU .image .estimate .logo {
    text-align: center;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.cBnfHy {
    position: relative;
}

.kevnBQ {
    position: relative;
    padding-top: 9.375rem;
    padding-bottom: 7.5rem;
}

.doSWzV {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.translateContent {
    transform: translateY(-7%);
}

.kevnBQ .texts {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.bDXMQd {
    color: rgb(28, 33, 31);
    margin-bottom: 1.25rem;
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -1.5px;
}

.kevnBQ .texts p {
    font-weight: 500;
}

.iqYoaA {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.eEytae .row > div .card .img-wrap {
    min-height: 30px;
    margin-bottom: 40px;
}

.eEytae .row > div .card h3 {
    font-size: 1.375rem;
    margin-bottom: 5px;
}

.eEytae .row > div .card.email {
    background-color: rgb(224, 235, 237);
}

.eEytae .row > div .card {
    transition: all 0.2s ease-in-out 0s;
}

.eEytae .row > div .card p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.33;
}

.eEytae .row > div .card .card-inner {
    padding: 40px;
}

.eVdiAH:not(:last-child) {
    margin-bottom: 9.375rem;
}

.eVdiAH {
    position: relative;
}

.eVdiAH .step-heading .number {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: left;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 113px;
    color: rgba(123,131,97,1);
}

.eVdiAH .step-heading {
    margin-bottom: 5rem;
    max-width: 560px;
    position: relative;
}

.kHLgax {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

.eVdiAH .images .image-group.set1 .img-wrap {
    position: relative;
    z-index: 2;
}

.eVdiAH .image {
    position: relative;
}

.eVdiAH .image .img-wrap {
    position: relative;
    z-index: 2;
}

.cXrisn {
    color: rgb(28, 33, 31);
    margin-bottom: 1.25rem;
    font-size: 3rem;
    line-height: 1.08;
    font-weight: bold;
    letter-spacing: -0.8px;
    padding-top: 15px;
}

.cXrisn > span {
    color: rgba(123,131,97,1);
}

.eQxpxE {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
}

@keyframes jBcSpD {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }        
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab:not(:last-child) > div {
    padding-bottom: 30px;
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab .line {
    display: block;
    width: 2px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin: auto;
    top: 40px;
    left: 14px;
    bottom: 5px;
    transition: all 0.2s ease-in-out 0s;
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected .check {
    background-color: rgb(28, 33, 31);
    border-color: rgb(28, 33, 31);
    color: rgb(255, 255, 255);
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab .check {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50% 15%;
    background-color: rgb(28, 33, 31);
    border-color: rgb(28, 33, 31);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.2s ease-in-out 0s;
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab p {
    max-width: 360px;
    line-height: 1.38;
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab h4 {
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: -0.4px;
    margin-bottom: 0px;
}


.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab > div {
    padding-left: 50px;
    position: relative;
    font-weight: 500;
    color: rgb(28, 33, 31);
    cursor: pointer;
}

.fA-dNms .react-tabs .react-tabs__tab-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.fA-dNms .react-tabs .react-tabs__tab-panel.react-tabs__tab-panel--selected {
    display: flex;
    animation: 0.3s linear 0s 1 normal none running jBcSpD;
}

.fA-dNms .react-tabs .react-tabs__tab-panel {
    position: relative;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.fA-dNms .react-tabs .react-tabs__tab-panel .img-wrap {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.aPJIY {
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.fA-dNms .react-tabs .react-tabs__tab-panel .img-wrap::before {
    content: "";
    width: 377px;
    height: 378px;
    /* background: url(/svg/home-pattern4.svg) center center / 377px 378px no-repeat; */
    display: none;
    visibility: hidden;
}

.hFgLoA:not(:last-child) {
    margin-bottom: 30px;
}

.hFgLoA {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.cLUgwi:not(:last-child) {
    margin-bottom: 30px;
}

.ezWyUV {
    font-weight: 500;
    color: rgb(28, 33, 31);
    cursor: pointer;
}

.cLUgwi {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.itLgeS .line {
    display: block;
    width: 2px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin: auto;
    top: 40px;
    left: 14px;
    bottom: -25px;
    transition: all 0.2s ease-in-out 0s;
}
.itLgeS .check {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(28, 33, 31);
    border: 1px solid rgb(28, 33, 31);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.2s ease-in-out 0s;
}

.itLgeS h4 {
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: -0.4px;
    margin-bottom: 0px;
}

.itLgeS p {
    max-width: 360px;
    line-height: 1.38;
}

.cLUgwi ~ li .check {
    border: 2px solid rgb(226, 226, 226) !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(164, 172, 185) !important;
}

.ezWyUV h4 span {
    opacity: 1;
}

.itLgeS {
    font-weight: 500;
    color: rgb(28, 33, 31);
    cursor: pointer;
}

.cLUgwi ~ li > div::before {
    bottom: 100% !important;
}

.itLgeS::before {
    content: "";
    display: block;
    background-color: rgb(28, 33, 31);
    position: absolute;
    top: 40px;
    left: 14px;
    width: 2px;
    bottom: -25px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 2;
}
.ezWyUV::before {
    content: "";
    display: block;
    background-color: rgb(28, 33, 31);
    position: absolute;
    top: 40px;
    left: 14px;
    width: 2px;
    bottom: -25px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 2;
}

.ezWyUV .line {
    display: block;
    width: 2px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    margin: auto;
    top: 40px;
    left: 14px;
    bottom: -25px;
    transition: all 0.2s ease-in-out 0s;
}

.ezWyUV .check {
    background-color: rgb(28, 33, 31);
    border-color: rgb(28, 33, 31);
    color: rgb(255, 255, 255);
}

.ezWyUV h4 {
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: -0.4px;
    margin-bottom: 0px;
}

.ezWyUV p {
    max-width: 360px;
    line-height: 1.38;
}

.ezWyUV .check {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(28, 33, 31);
    border: 1px solid rgb(28, 33, 31);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.2s ease-in-out 0s;
}

.hWXIyu {
    padding-top: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.ewyUxR i:not(.icon) {
    display: inline-block;
    font-style: normal;
    transition: all 0.2s ease-in-out 0s;
}

@media (max-width: 575px) {
    .eEytae .row > div .card .card-inner {
        padding: 30px 20px;
    }

    .eVdiAH .images .img-wrap {
        margin-bottom: 30px;
    }

    .eEytae .row > div .card p {
        font-size: 1rem;
    }

    .eVdiAH .images .img-wrap {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {

    .gORjmq:not(:last-child) {
        margin-bottom: 5rem;
    }

    .eVdiAH .image .estimate {
        display: none;
    }

    .hero_img {
        max-width: 100%;
        height: auto;
    }

    .fA-dNms .react-tabs .react-tabs__tab-panel .img-wrap {
        text-align: center;
        max-width: 560px;
        display: none;
        visibility: hidden;
    }

    .gORjmq .step-heading {
        margin-bottom: 2.5rem;
        max-width: 400px;
    }

    .gORjmq .step-heading .number {
        font-size: 80px;
    }

    .eVdiAH .images .image-group.set2 .img-wrap:nth-child(1) {
        display: none;
        visibility: hidden;
    }

    .eVdiAH .step-heading {
        margin-bottom: 2.5rem;
        max-width: 400px;
    }

    .eVdiAH .step-heading .number {
        font-size: 80px;
    }

    .eVdiAH:not(:last-child) {
        margin-bottom: 5rem;
    }

    .kevnBQ {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .eEytae .row > div .card {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .grJclU .image .estimate {
        display: none;
    }

    .grJclU:not(:last-child) {
        margin-bottom: 5rem;
    }

    .eEytae .row > div:not(:last-child) {
        margin-bottom: 40px;
    }

    .grJclU .step-heading {
        margin-bottom: 2.5rem;
        max-width: 400px;
    }

    .grJclU .step-heading .number {
        font-size: 80px;
    }

    .jNfiDm {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .bJNniz {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .bJNniz p.text-xl {
        font-size: 1.25rem;
    }
    
    .fA-dNms {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .fA-dNms .row {
        -webkit-box-align: center;
        align-items: center;
    }
    
    .kKQBVH {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-left: -20px;
    }

}

@media (max-width: 1199px) {
    .itdznI {
        font-size: calc(31.27px + 2.73vw);
    }

    .cXrisn {
        font-size: calc(28.91px + 1.59vw);
    }

    .gRClMq {
        font-size: calc(23.82px + 0.68vw);
    }
    
    .bDXMQd {
        font-size: calc(31.27px + 2.73vw);
    }
}


@media (max-width: 991px) {

    .lbmIxI .Container-sc-b4hb0m-0 {
        padding-bottom: 5rem;
    }

    .lbmIxI {
        padding-top: 5rem;
    }

    .bZrjDG {
        left: 0px;
    }

    .hQhXEr {
        display: none;
    }
}

@media (min-width: 768px){

    .eVdiAH .image .estimate {
        margin-top: 0px;
        position: absolute;
        top: -15%;
        left: auto;
        right: 0px;
    }

    .aPJIY {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    
    .eVdiAH .step-heading {
        padding-left: 100px;
    }

    .eVdiAH .step-heading .number {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .grJclU .step-heading {
        padding-left: 100px;
    }

    .grJclU .step-heading .number {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .eQxpxE {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .gORjmq .step-heading {
        padding-left: 100px;
    }

    .gORjmq .step-heading .number {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .kLZUNV .img-wrap {
        min-height: 680px;
    }

    .kLZUNV {
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
    }

    .kaZyOD {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .kaZyOD {
        order: 1;
    }

    .ljBSYu {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ewyUxR {
        font-size: 1.125rem;
        min-width: 150px;
    }

    .ewyUxR {
        padding: 26.5px 35px;
        min-width: 200px;
    }

    .ljBSYu {
        order: 2;
    }

    .bXeJDg {
        padding-bottom: 5rem;
    }

    .bXeJDg .row {
        -webkit-box-align: center;
        align-items: center;
    }

    .fA-dNms .react-tabs .react-tabs__tab-panel .img-wrap::before {
        display: block;
        visibility: visible;
        position: absolute;
        margin: auto;
        right: -95px;
        bottom: -95px;
    }
}

@media (min-width: 992px) {
    .eVdiAH .image .estimate {
        top: -25%;
    }
}

@media (min-width: 1200px) {
    .fA-dNms .react-tabs .react-tabs__tab-list {
        padding-left: 50px;
    }

    .eVdiAH .image .estimate {
        right: 9%;
    }

    .ljBSYu {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
        margin-left: 8.33333%;
    }

    .ewyUxR {
        min-width: 240px;
    }
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab > div::before {
    content: "";
    display: block;
    background-color: rgb(28, 33, 31);
    position: absolute;
    top: 40px;
    left: 14px;
    width: 2px;
    bottom: 5px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 2;
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab > div::after {
    content: "";
    position: absolute;
    inset: 0px -100vw;
    z-index: 2;
}

.fA-dNms .react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected ~ li .check {
    border: 2px solid rgb(226, 226, 226) !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(164, 172, 185) !important;
}