.parent-signup{
    position: relative;
    width: 100%;
}

.overlay{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%; 
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, black, transparent); 
    z-index: 2; 
    cursor: pointer;
}

.content-wrapper-bottom{
    display: flex;
    width: 100%;
    margin-left: 4%;
    margin-right: 10%;
}

.text-content-wrapper{
    text-align: left;
    width: 50%;
    padding-top: 11%;
    z-index:100;
}

.bottom-header-content{
    line-height: 90px;
    margin-top: 35px;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    color: rgba(255,255,255,1);
    margin-bottom: 50px;
}

.bottom-para-content{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    width: 50%;
    font-size: 24px;
    color: rgba(255,255,255,1);
    z-index:100;

}

.mobile-button-container{
    display: none;
}

.box-wrapper{
    width: 50%;
    padding-top: 8%;
    padding-left: 19%;
    z-index: 100;
}

@media only screen and (max-width:768px){
    .parent-signup{
        height:70vh;
    }

    .text-content-wrapper{
        width: 100%;
    }

    .content-wrapper-bottom{
        margin-left: 6%;
    }

    .box-wrapper{
        display: none;
    }
    .bottom-header-content{
        line-height: 40px;
        font-size: 32px;
    }

    .bottom-para-content{
        line-height: 20px;
        font-size: 24px;
    }

    .mobile-button-container{
        display: block;
    }
}

.component-parent {
    height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

@media only screen and (max-width:1366px){

    .box-wrapper{
        padding-left: 9%;
        padding-top: 1%;
    }

    .text-content-wrapper{
        padding-top: 5%;
    }

    .mobile-button-container{
        display:none;
    }
}