._1GjESRq1rrvYHIYbAhhSaN {
    background: #fff;
}

/* ._1m9bX7Zk23nTC7WgjGMHgl {
    padding-bottom: 13px;
    padding-top: 50px;
} */

.P4LgfjO-gQ4NC-eWV91wE {
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}

.sgHR59FMhyaqdn0GY8Ii {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sgHR59FMhyaqdn0GY8Ii .qIJXcCSJ07wNuV9LeQidz {
    -webkit-appearance: none;
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    letter-spacing: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    padding: 14px;
    position: relative;
}

._3Rxfa69vjfTVpZgWZ8l6oE {
    display: block;
    height: 50px;
    width: 50px;
}

._3Rxfa69vjfTVpZgWZ8l6oE img {
    display: block;
    height: 100%;
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}

.sgHR59FMhyaqdn0GY8Ii ._2CCPhTv9dgWW_u7eWsze3Z {
    display: block;
    padding: 14px;
}

._2CCPhTv9dgWW_u7eWsze3Z, ._3Rxfa69vjfTVpZgWZ8l6oE, .qIJXcCSJ07wNuV9LeQidz {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.sgHR59FMhyaqdn0GY8Ii ._2CCPhTv9dgWW_u7eWsze3Z ._18Pg8M97G8Y7DCVo12NX0m {
    font-size: 6px;
    line-height: 14px;
}

.sgHR59FMhyaqdn0GY8Ii ._18Pg8M97G8Y7DCVo12NX0m {
    border: 1px solid rgba(28,34,51,.2);
    border-radius: 50%;
    color: rgba(28,34,51,.2);
    display: inline-block;
    font-size: 8px;
    font-weight: 700!important;
    height: 16px;
    line-height: 16px;
    text-align: center;
    width: 16px;
}

[class^="retina-"], [class*=" retina-"] {
    font-family: 'retinafont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.retina-theessentials-2544:before {
    content: "\f08b";
}

._1m9bX7Zk23nTC7WgjGMHgl ._3E6rG_Tt_qwLpsNghhXmVH._222TiOjpoo6mB1rUbWBeCp._3BdAWUGNWf8eDYGy7AxPK9, ._1m9bX7Zk23nTC7WgjGMHgl ._222TiOjpoo6mB1rUbWBeCp._222TiOjpoo6mB1rUbWBeCp._3BdAWUGNWf8eDYGy7AxPK9 {
    background: #fff;
    padding-top: 25px;
    top: 0;
    width: 100%;
    z-index: 1;
}

._3La2U282lPrSPieeityLah {
    padding: 12px 60px 24px;
    text-align: center;
}

._1M8DfGn-ojI1PhFibM5aPx {
    -webkit-appearance: none;
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    letter-spacing: 0;
    list-style-type: none;
    padding: 0;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    font-family: GT Walsheim;
    font-weight: 500!important;
    color: #000;
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    text-align: inherit;
}

._3sh4L7sP21DgNDoTCZcESC {
    -webkit-animation: _3ZU5aE1p755ZIRQ_yqyHjV .45s ease;
    animation: _3ZU5aE1p755ZIRQ_yqyHjV .45s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}

._3sh4L7sP21DgNDoTCZcESC:nth-child(n+1) {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

._3sh4L7sP21DgNDoTCZcESC:nth-child(n+2) {
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

._3sh4L7sP21DgNDoTCZcESC:nth-child(n+3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

._1ox8cK5ZbRlLbM-gmkplG9 {
    font-family: GT Walsheim;
    font-weight: 300!important;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    text-align: inherit;
}


.P4LgfjO-gQ4NC-eWV91wE._1m9bX7Zk23nTC7WgjGMHgl {
    padding-bottom: 13px;
}

@keyframes _3ZU5aE1p755ZIRQ_yqyHjV {

    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes _2vuWcazyL8575SAjF053OQ {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

._1by4cSjkdIOm2Yq5Fo24fe {
    margin-top: 15px;
}

._1by4cSjkdIOm2Yq5Fo24fe p {
    font-family: GT Walsheim;
    font-weight: 300!important;
    color: #000;
    margin: 0;
}

._1by4cSjkdIOm2Yq5Fo24fe a {
    font-family: GT Walsheim;
    font-weight: 500!important;
    font-weight: 400;
    text-decoration: underline;
}

._1GL58ajZRXWF3gPslo0bAg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

._340a319TqMOr5Vpy5ABfFj {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

._2O19xYRsBU6qAl-QPWI5O_ {
    padding: 0 12px 14px;
}

._2N6Vxyrj2bGonm0c-7IbRB {
    -webkit-appearance: none;
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    letter-spacing: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    min-height: 50px;
    overflow: hidden;
    position: relative;
    -webkit-transition: border-color .3s ease,-webkit-box-shadow .3s ease;
    transition: border-color .3s ease,-webkit-box-shadow .3s ease;
    -o-transition: border-color .3s ease,box-shadow .3s ease;
    transition: border-color .3s ease,box-shadow .3s ease;
    transition: border-color .3s ease,box-shadow .3s ease,-webkit-box-shadow .3s ease;
    width: 100%;
}

._2N6Vxyrj2bGonm0c-7IbRB.active {
    -webkit-box-shadow: 2px 12px 14px rgb(28 34 51 / 40%);
    box-shadow: 2px 12px 14px rgb(28 34 51 / 40%);
}

._3OScaUBT4hjCuz8CQDhceC.active {
    opacity: 1;
}

._2zH219UNsPmRAaFF1TNQA2 {
    display: block;
    height: auto;
    width: 100%;
}

::selection {
    background-color: rgba(233, 223, 193, 0.7);
    color: #1c2233;
}
._2N6Vxyrj2bGonm0c-7IbRB ._2HSFNWHPAHJsI1ygOy3m2h {
    right: 4px;
    top: 4px;
}

._3OScaUBT4hjCuz8CQDhceC {
    background: hsla(0,0%,100%,.6);
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700!important;
    height: 20px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: 30px;
    -webkit-transition: background-color .3s ease,opacity .3s ease,-webkit-box-shadow .3s ease;
    transition: background-color .3s ease,opacity .3s ease,-webkit-box-shadow .3s ease;
    -o-transition: background-color .3s ease,box-shadow .3s ease,opacity .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease,opacity .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease,opacity .3s ease,-webkit-box-shadow .3s ease;
    width: 20px;
}

._3OScaUBT4hjCuz8CQDhceC path {
    fill: #000;
    stroke: #000;
    stroke-width: 1;
}

._3pnd1OwRhVOLCz1-1C2Tz5 {
    background: #d3d3d3;
    display: block;
    height: 13px;
    overflow: hidden;
    width: 100%;
}

._1FoNf0NT_554i8jrNCvOwd {
    position: relative;
    width: 100%;
}

.BvXHMKaQegdwbQn4rqAMA {
    background: #f6f6f6;
    height: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    width: 100%;
}

._30sj_LV80UWzMsQRAUUANg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: hsla(0,0%,100%,.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 12px 60px 36px;
    z-index: 3;
}


._1jqGzefjYSP-8u0Kwm08th {
    bottom: 0;
    left: 0;
    padding: 24px 84px 36px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100%;
}
._2ieOSiz9QMnofmbzDKXxKc:disabled {
    opacity: .3;
}

._1FoNf0NT_554i8jrNCvOwd button {
    margin-top: 18px;
}

._30sj_LV80UWzMsQRAUUANg button {
    padding: 11px 50px;
}

._2ieOSiz9QMnofmbzDKXxKc {
    -webkit-appearance: none;
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    letter-spacing: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    font-family: GT Walsheim;
    font-weight: 300!important;
    background: #000;
    border-radius: 18px;
    color: #fff;
    font-size: 14px;
    height: 36px;
    letter-spacing: 1.3px;
    line-height: 1;
    overflow: hidden;
    padding: 11px 24px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    white-space: nowrap;
}

._3E90BfH-AMpMmO1NCDTBYM {
    cursor: pointer;
    font-size: 11px;
    padding-top: 10px;
    text-decoration: underline;
    width: 100%;
}

.zeMpUVtl5WAqLJGOW0qQp {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.zGpHBqm-PBif-8Uo_jgXM:nth-child(n+1) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.zGpHBqm-PBif-8Uo_jgXM {
    -webkit-animation: _2vuWcazyL8575SAjF053OQ .45s ease;
    animation: _2vuWcazyL8575SAjF053OQ .45s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 200px;
    opacity: 0;
    padding: 0 12px 24px;
    width: 200px;
}

._3sRbR0H0E42xSXu0NBw6Nr.active {
    background: #f5e8dd;
    -webkit-box-shadow: 0 15px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 15px 20px rgb(0 0 0 / 10%);
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}

._3sRbR0H0E42xSXu0NBw6Nr {
    -webkit-appearance: none;
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    letter-spacing: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: none;
    background: #f6f6f6;
    border-radius: 50%;
    display: block;
    height: 100%;
    padding: 12px;
    position: relative;
    -webkit-transition: background-color .3s ease,-webkit-box-shadow .3s ease,-webkit-transform .3s ease;
    transition: background-color .3s ease,-webkit-box-shadow .3s ease,-webkit-transform .3s ease;
    -o-transition: background-color .3s ease,box-shadow .3s ease,transform .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease,transform .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease,transform .3s ease,-webkit-box-shadow .3s ease,-webkit-transform .3s ease;
    width: 100%;
}

._31Y8Yerqz3zfZLhcJ97B4U {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 120px;
}

._31Y8Yerqz3zfZLhcJ97B4U_step1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90px;
}

._2KqV1hEn7H5083I2ENJ0qp {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.nzFnMBBp9iqvVHz0LiJFr {
    font-family: Open Sans, "sans-serif";
    font-weight: 400!important;
    color: #000;
    font-size: 16px;
    margin: 10px 0 0;
    text-align: center;
    position: absolute; 
    top: 70%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 120px;
  }

._3OScaUBT4hjCuz8CQDhceC svg {
    display: block;
    height: 10px;
    width: 10px;
}

._3OScaUBT4hjCuz8CQDhceC path {
    fill: #000;
    stroke: #000;
    stroke-width: 1;
}

._1m9bX7Zk23nTC7WgjGMHgl._2NFAOdTlk1kVC0TaZ6N4G0 ._222TiOjpoo6mB1rUbWBeCp {
    padding-top: 50px;
}

._2dUT8dqiuqx66XBgCjleMy {
    padding-top: 72px;
}

.abe_oK0ch1V87LSTSArBZ.dfSc7BDWatNkWQJxERG4k {
    border-bottom-color: #eee;
}

.abe_oK0ch1V87LSTSArBZ:nth-child(n+1) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.abe_oK0ch1V87LSTSArBZ {
    -webkit-appearance: none;
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    letter-spacing: 0;
    list-style-type: none;
    margin: 0;
    text-align: left;
    text-transform: none;
    font-family: GT Walsheim;
    font-weight: 300!important;
    -webkit-animation: _12dUaCEHxnQEGM1T8ZM5NJ .45s ease;
    animation: _12dUaCEHxnQEGM1T8ZM5NJ .45s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-bottom: 1px solid transparent;
    color: #000;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    opacity: 0;
    padding: 0;
    -webkit-transition: border-color .3s ease;
    -o-transition: border-color .3s ease;
    transition: border-color .3s ease;
    width: calc(100% - 144px);
}

._2wyyxby8i9nYV9d8Hf2YUb {
    background: transparent;
}

._1LdlmQ-mgYNj78LZIHqEW {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

._1r6WkFwM0On9gRLpE7kr8R:nth-child(n+1) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

._1r6WkFwM0On9gRLpE7kr8R {
    -webkit-animation: rSmX2smJgdvTcoBhbAtyQ .45s ease;
    animation: rSmX2smJgdvTcoBhbAtyQ .45s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 200px;
    opacity: 0;
    padding: 0 12px 24px;
    width: 200px;
}

@keyframes rSmX2smJgdvTcoBhbAtyQ {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* ********************************************************************** */

@media (min-width: 800px) {

    .abe_oK0ch1V87LSTSArBZ {
        font-size: 26px;
        margin: 0;
        width: 100%;
    }

    ._1M8DfGn-ojI1PhFibM5aPx {
        font-size: 40px;
        line-height: 48px;
    }

    ._1ox8cK5ZbRlLbM-gmkplG9 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 36px;
    }
    
    ._1by4cSjkdIOm2Yq5Fo24fe {
        margin: 0;
        padding-top: 100px;
    }

    ._1by4cSjkdIOm2Yq5Fo24fe p {
        font-size: 18px;
    }

    ._1by4cSjkdIOm2Yq5Fo24fe a {
        font-size: 18px;
    }
    
    ._2dUT8dqiuqx66XBgCjleMy {
        margin: 0 auto;
        max-width: 550px;
        min-width: 300px;
        padding-left: 72px;
        padding-top: 0;
        position: relative;
        width: 40%;
    }
    
}

@media (min-width: 920px) {


    ._1LdlmQ-mgYNj78LZIHqEW {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    ._1m9bX7Zk23nTC7WgjGMHgl._2NFAOdTlk1kVC0TaZ6N4G0 ._3E6rG_Tt_qwLpsNghhXmVH {
        background: #f6f6f6;
    }

    ._1m9bX7Zk23nTC7WgjGMHgl._2NFAOdTlk1kVC0TaZ6N4G0 ._222TiOjpoo6mB1rUbWBeCp {
        padding-top: 0;
    }

    .zeMpUVtl5WAqLJGOW0qQp {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    ._3E90BfH-AMpMmO1NCDTBYM {
        margin-right: 20px;
        padding-top: 0;
        width: unset;
    }

    ._1FoNf0NT_554i8jrNCvOwd button {
        margin-top: 0;
    }

    ._2ieOSiz9QMnofmbzDKXxKc {
        border-radius: 20px;
        height: 40px;
        padding: 13px 48px;
    }

    ._1jqGzefjYSP-8u0Kwm08th {
        padding-bottom: 60px;
        text-align: right;
    }

    ._30sj_LV80UWzMsQRAUUANg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 36px 60px;
    }



    ._1m9bX7Zk23nTC7WgjGMHgl ._3E6rG_Tt_qwLpsNghhXmVH._3E6rG_Tt_qwLpsNghhXmVH._3BdAWUGNWf8eDYGy7AxPK9, ._1m9bX7Zk23nTC7WgjGMHgl ._222TiOjpoo6mB1rUbWBeCp._3E6rG_Tt_qwLpsNghhXmVH._3BdAWUGNWf8eDYGy7AxPK9 {
        margin-left: 40%;
        padding-top: 0;
    }
    
    ._1m9bX7Zk23nTC7WgjGMHgl ._3E6rG_Tt_qwLpsNghhXmVH._3E6rG_Tt_qwLpsNghhXmVH, ._1m9bX7Zk23nTC7WgjGMHgl ._222TiOjpoo6mB1rUbWBeCp._3E6rG_Tt_qwLpsNghhXmVH {
        width: 50%;
    }

    ._1m9bX7Zk23nTC7WgjGMHgl ._3E6rG_Tt_qwLpsNghhXmVH, ._1m9bX7Zk23nTC7WgjGMHgl ._222TiOjpoo6mB1rUbWBeCp {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        min-height: calc(100vh - 63px);
        padding: 100px 0 150px;
        vertical-align: top;
        white-space: normal;
        width: 50%;
    }

    ._1gv1Tk95AHOwjL115PTaO8 {
        white-space: nowrap;
    }

    ._1m9bX7Zk23nTC7WgjGMHgl ._3E6rG_Tt_qwLpsNghhXmVH._222TiOjpoo6mB1rUbWBeCp, ._1m9bX7Zk23nTC7WgjGMHgl ._222TiOjpoo6mB1rUbWBeCp._222TiOjpoo6mB1rUbWBeCp {
        padding-left: 72px;
        padding-right: 48px;
    }
    
    ._1m9bX7Zk23nTC7WgjGMHgl ._3E6rG_Tt_qwLpsNghhXmVH._222TiOjpoo6mB1rUbWBeCp._3BdAWUGNWf8eDYGy7AxPK9, ._1m9bX7Zk23nTC7WgjGMHgl ._222TiOjpoo6mB1rUbWBeCp._222TiOjpoo6mB1rUbWBeCp._3BdAWUGNWf8eDYGy7AxPK9 {
        position: fixed;
        width: 40%;
    }

    ._3La2U282lPrSPieeityLah {
        margin: 0 auto;
        max-width: 450px;
        padding: 0;
        text-align: left;
    }    
}
