.parent{
    margin: 90px auto;
    background:#f7f8fa;
}

.outer-column-wrapper{
    width: 100%;
}

.inner-wrapper2{
  padding:0px 130px;   
  align-content: center;
  align-items: center;
  text-align: center;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
}

.child-1{
    display: flex;
    justify-content:center;
}

.child-2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}
.page-1-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
}

.radio-style{
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.1px;
    margin: -.1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.text-field-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
    width:80%;
    text-align: left;
}

.email-field-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
    width: 80%;
    text-align: left;
}

.number-field-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
    width: 80%;
    text-align: left;
}

.button-wrapper{
    display: flex;
    justify-content: flex-end;

}

.button-wrapper > .prev-wrapper{
    display: flex;
    justify-content: flex-start;
}

.button-wrapper > .next-wrapper{
    display: flex;
    justify-content: flex-end;
}

.child-3{
    display: flex;
    flex-wrap:wrap;
}

.label-text{
    font-family:  "sans-serif"!important;
    font-size: 26px !important;
    font-weight: 500 !important;
    line-height: 1.5em !important;
}

.check-wrapper{
    padding-right: 10px;
}

.reno-image{
    margin-right: 20px;
}

.furnished-options{
    padding-bottom: 0px;
}

.child-3-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;

}


.child-4{
    display:flex;
    flex-wrap: wrap;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.image-selector{
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.5em;
}

.image-option-wrapper{
    
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
}

.images-wrap{
    display: grid;
    gap: 16px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: unset;
    grid-auto-columns: unset;
    grid-auto-flow: row;
}

.design-images{
    padding-right: 10px;
}

.child-5{
    flex-wrap: wrap;
    display: flex;
}

.photo-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
    text-align: left;
}

.floor-wrapper{
    padding-right: calc( 60px/2 );
    padding-left: calc( 60px/2 );
    margin-bottom: 37px;
    text-align: left;
}

.room-type-wrapper {
    display: grid;
    gap: 16px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: unset;
    grid-auto-columns: unset;
    grid-auto-flow: row;

}

.hidden-checkbox {
    display:none;
}

.check-wrapper.active {
    background-color: #dfe1e5;
    border-radius: 10px;
}

.reno-image.active {
    background-color: #dfe1e5;
    border-radius: 10px;
}