.b-fullWidthAsset {
    min-height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: var(--block-padding) 0;
    position: relative;
    width: 100%;
    margin: 60px 0 0;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow: hidden;
}

.m-stickyMedia__container {
    overflow: hidden;
}

.m-stickyMedia, .m-stickyMedia__container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.m-stickyMedia__background {
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    will-change: transform;
    width: 100vw;
}

.a-image__picture {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.a-image__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
}
.a-image, .a-image__background, .a-image__picture {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.a-image {
    overflow: hidden;
}

.b-fullWidthAsset__container {
    height: 100%;
    width: 100%;
    max-width: 1020px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}
.m-stickyMedia {
    height: 100%;
    width: 100%;
}

.b-fullWidthAsset .m-componentHeader {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: var(--containerMaxWidth);
    padding: 0 var(--containerMargin);
    margin: 0 auto;
}

.m-componentHeader.-center {
    text-align: center;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
}

.m-componentHeader .a-eyebrow {
    margin: 0 0 1em;
}

.a-eyebrow.-large {
    font-weight: 400;
    letter-spacing: .09em;
    line-height: 120%;
    font-family: Brown,Bukra,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.a-eyebrow {
    color: var(--eyebrow-text-color);
}

.a-heading.-h4 {
    font-weight: 400;
    letter-spacing: .09em;
    line-height: 143%;
    font-family: Brown,Bukra,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 28px;
}
.a-heading, .a-heading.-h1 {
    text-transform: uppercase;
    font-weight: 400;
}

.a-moustache.-large {
    font-weight: 100;
    letter-spacing: 0;
    line-height: 135%;
    font-size: 21px;
}

.b-fullWidthAsset__buttons {
    text-align: center;
    margin-top: 55px;
}

.m-button.-white.-primary {
    --button-background-color: var(--color-white);
    --button-border-color: var(--color-black-10a);
    --button-text-color: var(--color-black);
}
.m-button.-white {
    --button-border-color-disabled: var(--color-white-10a);
    --button-text-color-disabled: var(--color-white-10a);
}
.m-button {
    --button-background-color-hover: var(--color-gold);
    --button-background-color-ripple: var(--color-white-20a);
    --button-border-color-disabled: var(--color-black-10);
    --button-border-color-hover: transparent;
    --button-text-color-disabled: var(--color-black-20);
    --button-text-color-hover: var(--color-white);
}

.m-button {
    --button-border-radius: var(--button-size);
    --button-border-width: 1.5px;
    --button-font-size: 16px;
    --button-icon-size: 24px;
    --button-padding: 40px;
    --button-size: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    color: var(--button-text-color);
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: var(--button-font-size);
    height: var(--button-size);
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}

.m-button.-labelOnly .m-button__container {
    -webkit-padding-end: var(--button-padding);
    padding-inline-end: var(--button-padding);
    -webkit-padding-start: var(--button-padding);
    padding-inline-start: var(--button-padding);
}
.m-button__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--button-background-color,transparent);
    border-radius: var(--button-border-radius);
    border: var(--button-border-width) solid var(--button-border-color,#000);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--button-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: var(--button-size);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-padding-end: calc(var(--button-padding)/2);
    padding-inline-end: calc(var(--button-padding)/2);
    -webkit-padding-start: var(--button-padding);
    padding-inline-start: var(--button-padding);
    position: relative;
    -webkit-transition: background .2s ease-in-out,color .2s ease-in-out;
    -o-transition: background .2s ease-in-out,color .2s ease-in-out;
    transition: background .2s ease-in-out,color .2s ease-in-out;
    width: 100%;
}

.m-button .a-icon, .m-button .a-label {
    position: relative;
    z-index: 2;
}

.ripple {
    height: 3rem;
    width: 3rem;
    background: #8e8f90;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.a-label {
    font-weight: 400;
    letter-spacing: .06em;
    line-height: 120%;
    margin-top: -0.0225em;
    text-transform: uppercase;
    font-size: 16px;
}

@media (min-width: 1920px) {
    :root {
        --grid-gap: 26.66px;
    }
}

@media (min-width: 1440px) {
    :root {
        --containerMargin: 70px;
        --largeContainerMargin: 180px;
        --containerMaxWidth: 1780px;
    }
}

@media (min-width: 1024px) {
    :root {
        --block-padding: 60px;
    }
}

@media (min-width: 768px) {
    :root {
        --containerMargin: 4.8611111111vw;
        --largeContainerMargin: 12.5vw;
    }

    .m-componentHeader {
        max-width: 66.6666666667vw;
    }
    
}

@media (min-width: 480px) {

    .a-label {
        line-height: 120%;
        letter-spacing: .06em;
        font-size: calc(16px + 0*(100vw - 480px)/960);
    }

    .a-eyebrow.-large {
        line-height: 120%;
        letter-spacing: .12em;
    }

    .a-eyebrow.-large {
        font-size: calc(16px + 5*(100vw - 480px)/960);
    }
    
    .a-heading.-h4 {
        line-height: 120%;
        letter-spacing: .12em;
    }

    .a-heading.-h4 {
        font-size: calc(28px + 22*(100vw - 480px)/960);
    }
    
    .a-moustache.-large {
        line-height: 142%;
        letter-spacing: 0;
    }

    .a-moustache.-large {
        font-size: calc(21px + 7*(100vw - 480px)/960);
    }

}

:root {
    --color-black: #1d1f22;
    --color-black-10: #e2e0da;
    --color-black-10a: rgba(29,31,34,0.1);
    --color-white: #fff;
    --color-white-10a: hsla(0,0%,100%,0.1);
    --color-white-20a: hsla(0,0%,100%,0.2);
    --color-gold: #ebc03f;
}