.parent-container{
    max-width: 100%;
}

.prefab-container{
    border-radius: 0px 0px 2px 0px;
}

.background-overlay{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width:100%;
    background-color: #99AFC617;
    opacity: 1;
}

.prefab-column{
    max-width: 1300px;
    display: flex;
}

.content-side{
    width: 58%;
}

.image-side{
    width: 42%;
}

.content-wrapper{
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}