.profile-section{
    /* padding:50px 105px 0px 90px; */
    padding:4% 4% 1% 2%;
}

.column-gap-section{
    max-width: 1920px;
    margin-right: 0% !important;
}

.slider-column-section{
    max-width: 1920px;
    display: flex;
}

.mobile-view-navbar-parent{
    display: none;
}
.sidebar{
    width:20%;
    text-align: left;
    padding-left: 1%;
    /* position: fixed; */
}

.main-section{
    width: 80%;
    margin-left:35px;
}

.dp{
    background: white;
    z-index: 9999;
    text-align: center;
    margin-left: 3%;
}

.dp-inner-wrapper{
    
}

.profile-image-media{
    border-radius:50% ;
       height: 175px ;
       width: 175px;
       border:10px solid pink
       /* margin-left: 30px; */
  
}
.name{
    margin-bottom: 10px;
    text-align: center !important;
    margin-left: 10px;
}

.name-head{
    font-size: 22px;
}

.skills{
    text-align: center !important;
    /* margin-left: 12px;
    margin-top: -10px; */
    margin-left: 3%;
}


.role{
    margin-bottom: 7px;
    text-align: center !important;
}

.intro{
    margin-bottom: 30px;
    text-align: center !important;
    margin-left: 10px
}
.location{
    margin-bottom: 30px;
    text-align: center !important;
}


.upper-section{
    display: flex;
    /* border-bottom-style: solid !important;
    border-bottom-color: grey !important; */
    /* padding-bottom: 10px; */
    /* padding-top: 40px; */
    /* border-top: solid blue 50px; */
    border-bottom: solid grey 2px;
}

.profile-hits{
    text-align: center;
    width: 25%;
    padding:1%;
    padding-left: 5%;
}

.recommendation{
    text-align: center;
    width: 25%;
    padding:1%;
    padding-left: 3%;
}

.outer-recommend{
    text-align: center;
}

.outer-recom{
    margin-top: 19px;
}
.lower-section{
    width: 100%;
    position: relative;
}

.main-content-section{
    /* padding:45px 10px 0px 45px; */
    /* padding: 6%;
     */
     margin-top: 3%;
}

.inner-recommend{
    text-align: center;
    margin-bottom: 10px;
}

.outer-num-wrapper{
    margin-bottom: 10px;
}

.profile-hit-head{
    font-size: 25px;
    margin-bottom: -13px;
}

.profile-visits{
    font-weight: normal;
    font-size: 22px;
}
.button-profile{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-recom{
    font-size: 25px;
}

.recommendation-head{
    font-weight: normal;
    font-size: 22px;
}

.projects{
    width: 25%;
    text-align: center;
    padding: 1%;
    padding-left: 3%;
}

.project-number-head{
    font-size: 25px;
    margin-bottom: 1%;
}

.project-head{
    font-size: 22px;
    font-weight: normal;
    margin-top: 0%;
}

.column-default-section{
    width: 100%;
}
.elementor-button-wrapper{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;

}

.elementor-button-link.elementor-button.elementor-size-xs{
    font-size: 13px;
    padding: 10px 20px;
    /* border-radius: 10px; */
    background: #99AFC652;
    font-weight: 400;
    height:50px;
    width:150px;
}

.row-content-wrapper{
    text-align: center;
}

.row-content-section{
    padding-bottom: 35px;
    display: flex;
}

.row-heading-wrapper{
    text-align: center;
}

.row-image-wrapper{
    cursor: pointer;
}

.row-heading4{
    font-size: 14px;
    font-weight: normal;
    color:#545454;
}

.content-wrapper-section{
    max-width: 740px;
    max-height: 1000px;
}
.row-outer-wrapper{
    float: left;
    width:33%;
    padding-right: 35px;
    padding-bottom: 35px;
}
.mobile-stepper{
    display: none;
}
.MuiBox-root>img{
    max-height: 200px !important;
    object-fit: cover !important;
    object-position: center !important;
}

.Modal-styling{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter:blur(10px); */
}

.swipeable-wrapper{
    position: relative;
    display: block;
    background: white;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width:1200px){
    .Modal-styling{
        margin:10% 20% !important;
    }
}
.row-heading-inner-wrapper{
    margin:10px 0px 4px 0px;
}


.row-heading-wrapper{
    text-align: center;
}

.row-heading4{
    font-size: 14px;
    font-weight: normal;
    color:#545454;
}


.row-outer-wrapper{
    float: left;
    width:33%;
    padding-right: 35px;
    padding-bottom: 35px;
}

.row-heading-inner-wrapper{
    margin:10px 0px 4px 0px;
}

.image-data-styling{
    /* height:25% !important;
    width: 33.33% !important;
    padding:2% !important; */
    /* float: left;
    width:33%;
    padding-right: 35px;
    padding-bottom: 35px; */
}
.MuiImageListItem-root{
    height: 364px;
    padding:4px;
}

.MuiImageListItem-imgFullHeight{
    height: 80%;
    cursor: pointer;
}

.MuiImageListItemBar-root.MuiImageListItemBar-rootSubtitle.MuiImageListItemBar-positionBottom{
    background: white;
    text-align: center;
}

.MuiImageListItemBar-titleWrap{
    color: black;
    margin-bottom: 5%;
}

.MuiImageListItemBar-title{
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    color: black;
}

.MuiImageListItemBar-subtitle
{
    /* font-size: 12px; */
    font-weight: normal;
    color: grey;

}


/* .image-data-styling:nth-child(3){
    height:25% !important;
    width: 33.33% !important;
    padding:2% !important;
} */

.MuiImageListItem-root{
    height: auto;
    height: 364px;
    padding: 4px;
    width: 33.3333%;
}

/* .MuiImageListItem-root */
.MuiPaper-root.MuiMobileStepper-root.MuiMobileStepper-positionStatic.MuiPaper-elevation0{
    width:500px !important;
}
@media only screen and (max-width:600px){

    .slider-column-section{
        display: block;
        overflow-y: hidden;
    }
    .profile-section{
        padding:0%;

    }
    
    .mobile-view-navbar-parent{
      
        display: block;
        width: 100%;
        position: fixed;
        background: white;
        z-index: 1200;
        /* background: black;  */
    
    }
    /* .MuiImageListItem-imgFullHeight{
        display: none;
    } */

    .mobile-stepper{
        display: block
    }

    .mobile-view-navbar-top{
        display: flex !important;
       
    }

    .mobile-dp{
        width: 20%;
        
    }
  
    .mobile-profile-image-media{
        border-radius: 50%;
        height: auto;
        width:100%;
        margin:20%;
        border:2px solid #d6249f;
        /* background: white; */
        
    }

    .mobile-profile-hits{
        text-align: center;
        width: 26%;
        margin-left: 11%;

    }

    .mobile-profile-hit-head{
        margin-bottom: 0%;

    }

    .mobile-profile-visits{
        margin-top: 0%;
        font-size: 18px;
        font-weight: normal;
        font-family: 'POPPINS';
        margin-left: 3%;
        /* color: white; */
    }

    .mobile-projects{
        width: 26%;
        text-align: center;
    }

    .mobile-project-head{
        font-size: 18px;
        font-family: 'Poppins';
        font-weight: normal;
        margin-top: 0%;
        /* color: white; */
    }

    .mobile-project-number-head{
        margin-bottom: 0%
    }
    
    

    .mobile-profile-recom{
        margin-bottom: 0%;
    
    }

    .mobile-recommendation-head{
        margin-top: 0%;
        font-size: 18px;
        font-weight: normal;
        font-family: 'POPPINS';
        /* color: white; */
    }
    

    .mobile-recommendation{
      width:26%;
      text-align: center;
      margin-right: 5%;
    }

    .mobile-name{
        margin-left: 3%;
        margin-top: -2%;
        margin-bottom:1%;
    }
    
    .mobile-name-head{
        margin-bottom: 0%;
        margin-top: 0%;
        font-size: 18px;
        /* color:white; */
    }
    .mobile-intro{
        display: block;
        margin-left: 3%;
        margin-bottom: -1%;

    }

    .mobile-description{
        margin-top: 0%;
        font-size: 12px;
        font-weight: 500;
        color:black;
        width: 74%;
        /* color: white; */
    }

    
    .mobile-elementor-button-wrapper{
        width:75%;

        justify-content: center;
        /* align-items: center; */
        display:flex;
        cursor: pointer;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 0.5%;
        border-radius: 4px;
        border:0.5px solid black;
        /* border:0.5px solid white; */
        margin-bottom: 2.5%;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }

    .mobile-elementor-button-wrapper-2{
        width:25% !important;
        justify-content: center;
        /* align-items: center; */
        display:flex;
        cursor: pointer;
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 3%;
        border:0.5px solid black;
        /* border:0.5px solid white; */
        margin-bottom: 2.5%;
        border-radius: 4px;
    }

    .mobile-elementor-button-content-wrapper{
        margin-top: 3%;
    }
    

    .mobile-elementor-button-text{
        padding-top:8px;
        font-size: 17px;
        /* color: white; */
        font-weight: 700;
        font-family: 'Poppins'
    }

    .mobile-elementor-button-text-2{
        padding-top:8px;
        font-size: 23px;
        font-weight: 700;
        /* color: white; */
        font-family: 'Poppins'   
    }

    .main-content-section{
        padding: 45% 0px 0px 0px !important;
     /* ul of image */
    }

    .MuiImageList-root
    {
        overflow-y: auto;
        display: block !important;
    }

    /* .MuiImageListItem-root:nth-child(1){ */
        /* width: 100% !important; */
        /* margin-top: 20px; */
        /* margin-bottom:10px; */
        /* height: 45vh !important; */
        /* height:50%; */
    /* } */

    .MuiImageListItem-root{
        width: 100% !important;
        /* margin-top: 20px; */
        /* height: 50%; */
        /* margin-bottom:10px; */
        height: 45vh !important;
    }

    .MuiImageListItem-imgFullHeight{
        height: 96%;
    }


     .mobile-profile-section{
        padding:0px 0px 0px 0px; 
       
     }

    .sidebar{
       
        display: none !important;
    }

   

    .name{
        display:none;
    }
    .intro{
        display:none;
    }
    .location{
        display:none;
    }
    .role{
        display:none;
    }
    .skills{
        display:none;
    }

    


    .main-section{
        width:100%;
        margin-left: 0px;
        /* margin-left: 23%;
        margin-top: 3%; */
    }

    .upper-section{
       
    display: none!important;
    }

    
    .row-outer-wrapper{
        width:100%;

    }
    .MuiImageList-root{
        z-index: -1 !important;
        /* background: black; */
    }

    .MuiPaper-root.MuiMobileStepper-root.MuiMobileStepper-positionStatic.MuiPaper-elevation0{
        width:100% !important;
    }

    .MuiImageListItemBar-root.MuiImageListItemBar-rootSubtitle.MuiImageListItemBar-positionBottom{
        /* background: black; */
    }

    .MuiImageListItemBar-title{
        /* background: black; */
    }

    .MuiImageListItemBar-subtitle{
        /* background: black; */
    }

    /* .Modal-styling{
        padding-top: 200px;
        padding-right: 0px;
        padding-left: 0px;
    } */

    .react-swipeable-view-container{
        height: 300px !important;
    }

    

    

}

@media only screen and (min-width:1536px){
    .profile-section{
        padding:4% 4% 1% 0.5%;
    }

    .MuiImageListItem-item{
        width: 100%;
    }

    .MuiImageListItem-imgFullHeight{
        height: 84%;
    }

    .MuiImageListItem-root{
        height: 430px;
        padding:4px;
    }

}
