.bottom-nav-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;

    z-index: 9999;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f3ee;
    width: 100%;
    height: 100%;

}

@media only screen and (min-width: 768px) {
    .bottom-nav-wrapper {
        display: none;
    }
}

.bn-tab {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    position: relative;
    flex-direction:  column;
}

.bottom-nav-helptext {
    font-size: 10px;
}
.bn-tab > .style-quiz {
    background: rgba(255,92,92,1);
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700!important;
    height: 100%;
    width:  50px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color .3s ease,opacity .3s ease,-webkit-box-shadow .3s ease;
    transition: background-color .3s ease,opacity .3s ease,-webkit-box-shadow .3s ease;
    -o-transition: background-color .3s ease,box-shadow .3s ease,opacity .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease,opacity .3s ease;
    transition: background-color .3s ease,box-shadow .3s ease,opacity .3s ease,-webkit-box-shadow .3s ease;
}


@keyframes mobileRotation {

    0% {
        transform: none;
    }

    2% {
        transform: rotate(20deg);
    }

    4% {
        transform: rotate(-20deg);
    }
    6% {
        transform: rotate(20deg);
    }
    8% {
        transform: rotate(-20deg);
    }
    10% {
        transform: none;
    }
}

.bn-tab > .style-quiz.active {
    -webkit-animation: 1s mobileRotation ease-out;
    animation: 1s mobileRotation ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

