
.right-button {
    top: 50%;
    position: absolute;
    z-index: 1300;
    cursor: pointer;
    right: -5%;
}

.left-button {
    top: 50%;
    position: absolute;
    z-index: 1300;
    cursor: pointer;
    left: -5%;
}

@media only screen and (min-width:1366px){
    .stepper-image{
        z-index: 1500;
        width: 59% !important;
        position: fixed;
        display: flex;   
    }
}