.parent-wrapper{
    width: 100%;
    max-width: 1390px;
}

.header-interior{
    background: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
    z-index: 9999;
    align-items: center;
}

.logo-parent{
    width: 15%;
}

.empty-div{
    display: inline-block;
    width:65%;

}
.buttons-wrapper{
  width:20%;
  display: flex;
}