.dexterio-wp-widget-container {
    border: 1px solid #02010100;
    border-radius: 3px;
    background-color: #FFFFFF;
    -webkit-transition: min-height .4s;
    -o-transition: min-height .4s;
    transition: min-height .4s;
    overflow: hidden;
}

.dexterio-wp__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #02010100;
}

.dexterio-wp__header-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    font-size: 18px;
}

.dexterio-wp__toggle-button {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.dexterio-wp__body {
    padding: 20px;
    overflow-y: auto;
    display: var(--show);
}

.dexterio-wp__list-wrapper {
    list-style: none;
    padding: 0;
}

.dexterio-wp__list-item {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.2em;
    letter-spacing: 0.3px;
    color: #99AFC6;
    cursor: pointer;
}

.dexterio-wp__list-item.active {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.2em;
    letter-spacing: 0.3px;
    color: #0B4C76;
    cursor: pointer;
}

.dexterio-wp__list-item-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dexterio-wp__list-item.active > .dexterio-wp__list-item-text-wrapper > svg {
    fill: #0B4C76;
}

.dexterio-wp__list-item > .dexterio-wp__list-item-text-wrapper > svg {
    fill: #99AFC6;
}

.dexterio-wp__list-item-text {
    outline: none;
    margin-left: 5px;
}