
.outer-wrapper{
    background-color: var(--color);
    align-items: center;
}

@media (min-width: 768px) {

    .outer-wrapper .row {
        padding: 50px 0px;
        align-items: center;
    }

    .outer-wrapper .img-wrap {
        min-height: 100%;
    }

    .outer-wrapper .itfznI {
        color: #001616;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.4em;
        letter-spacing: 0px;
    }
}

.sub-text{
    color: #000707B5;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7em;
    letter-spacing: 0.8px;
}

.o{
    color:teal;
}

.consult-btn{
    background:teal;
}

.image-part{
    width:40.254%;
    text-align: center;
    /* padding: 6% 17% 0% 13%; */
    /* float:left; */
    /* flex-direction: column; */
}

.image-wrapper{
    padding-top:5%;
}
.imgStyle{
    height: auto;
    max-width: 100%;
    width:69%;
    border: none;
}
